<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.GJJUserInfoDAO">
    <resultMap id="gjjUserInfoMap" type="cn.springmvc.model.GJJUserInfo"/>

    <insert id="insertGJJUserInfo" parameterType="GJJUserInfo" keyProperty="id">
        insert into gjj_user_info(name, companyName, personalAccount, companyAccount, idCard, cardNumber, wageBase,
        companyDepositRadio, personalDepositRadio, personalMonthlyPayment, companyMonthlyPayment, accountBalance,
        accountStatus, joinBank, collectionPoint, bankCard, password, officeBelone, dateOpened, monthlyPayment, lastYearBalance)
        values(#{name}, #{companyName}, #{personalAccount}, #{companyAccount}, #{idCard}, #{cardNumber}, #{wageBase},
         #{companyDepositRadio}, #{personalDepositRadio}, #{personalMonthlyPayment}, #{companyMonthlyPayment},
         #{accountBalance}, #{accountStatus}, #{joinBank}, #{collectionPoint}, #{bankCard}, #{password},
         #{officeBelone}, #{dateOpened}, #{monthlyPayment}, #{lastYearBalance})
    </insert>

    <insert id="batchInsetGJJUserInfo" parameterType="java.util.List" keyProperty="id">
        insert into gjj_user_info(name, companyName, personalAccount, companyAccount, idCard, cardNumber, wageBase,
        companyDepositRadio, personalDepositRadio, personalMonthlyPayment, companyMonthlyPayment, accountBalance,
        accountStatus, joinBank, collectionPoint, bankCard, password, officeBelone, dateOpened, monthlyPayment, lastYearBalance)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name}, #{item.companyName}, #{item.personalAccount}, #{item.companyAccount}, #{item.idCard},
            #{item.cardNumber},
            #{item.wageBase},
            #{item.companyDepositRadio}, #{item.personalDepositRadio}, #{item.personalMonthlyPayment},
            #{item.companyMonthlyPayment},
            #{item.accountBalance}, #{item.accountStatus}, #{item.joinBank}, #{item.collectionPoint}, #{item.bankCard},
            #{item.password},
            #{item.officeBelone}, #{item.dateOpened}, #{item.monthlyPayment}, #{item.lastYearBalance})
        </foreach>
    </insert>

    <select id="queryGJJUserInfoById" resultMap="gjjUserInfoMap" parameterType="int">
        select * from gjj_user_info where id=#{id}
    </select>

    <select id="queryExistAccount" resultType="java.lang.String">
        select personalAccount from gjj_user_info
    </select>

</mapper>